
/* Limites de Contenedores o Tamaños */
.hero{
    height: 80vh;
}
.seccion-categorias{
    height: 40vh;
    width: 100%;
}
.seccion-razones{
  height: 70vh;
  background-color:#9E116F;
}
.seccion-razones h2{
    color: white;
}
.seccion-marcas{
    height: 90vh;
    background-color: #D9D9D9;
}
/* Limites de el contenido images etc.. */

.seccion-categorias .contenedor-tarjetas{
    display: flex;
}

.contenedor-tarjetas img{
    width: 124px;
}

.seccion-razones .contenedor-tarjetas{
     display: flex;
}
.seccion-razones .tarjeta{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    max-width: 33vw;
    align-items: center;
    justify-content: center;
}
.seccion-razones .tarjeta img{
width: 50%;
height: auto;
}
.seccion-razones .contenedor-tarjetas img{
    height: 100%;
}
.seccion-marcas .galeria-logos{
display: flex;
width: 100%;

}
.seccion-marcas .galeria-logos img{
width: 7vw;
height: auto;
margin: 20px;

}

.seccion-marcas .galeria-logos{
    display: grid;
    grid-template-columns: repeat(3,33vw);
}
.seccion-marcas .galeria-logos .item-logo{
    width: 50%;

}
.seccion-marcas .galeria-logos .item-logo img{
    width: 100%;
    
}
