
/* Limites de Contenedores o Tamaños */
.hero{
    height: 80vh;
}
.seccion-categorias{
    height: 40vh;
}
.seccion-razones{
  height: 70vh;
  background-color:#9E116F;
  display: flex;
}
.seccion-marcas{
    height: 80vh;
    background-color: #D9D9D9;
}
/* Limites de el contenido images etc.. */

.seccion-categorias .contenedor-tarjetas{
    display: flex;
}

.contenedor-tarjetas img{
    width: 124px;
}

.seccion-razones .contenedor-tarjetas{
     display: flex;
}
.seccion-razones .contenedor-tarjetas img{
    width: 47.27;
}
.seccion-marcas .galeria-logos{
   display: grid;
   grid-template-columns: repeat(3,auto);
    grid-template-columns: repeat(3,auto);
}
.seccion-marcas .galeria-logos img{
width: 33%;
}

